<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header}}
        <p>You are welcome to give us a call!</p>
        
        {{> footer}}
    </body>
</html>